@font-face {
    font-family: "Montserrat";
    src: url(./font/Montserrat-Regular.otf);
}
@font-face {
    font-family:"Raleway" ;
    src: url(./font/Raleway-Regular.ttf);
}
:root {
    --darkGray:#3f3f3f; 
    --lightBlue: #47c9e5;
    --white: #f6f6f6;
    --lightGray: #8d8d8d;
}
body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    position: relative;
  }
  
  *, ::before, ::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  /*
Fonts
  */
 a {
     text-decoration: none;
   
 }
  p {
      font-family: "Raleway";
  }
  h1, h2, h3, h4, h5, h6 {
      margin:0;
      padding:0;
      font-family: "Montserrat";
  }
  ul {
      margin:0;
      padding:0;
  }
  li {
      padding:0;
      margin:0;
  }

  .main-header {
  
    display:flex;
 
    justify-content: center;
    background-image: url(img/headerimg.jpg);
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
    height:250px;
    width:100%;

  }

  .main-header-title {
   font-size:3.5em;
   color:var(--white);
 
    

    align-self: center;
   

  }
  .main-nav {
    flex-grow:1;
    margin-top:20px;
  }

  .nav-items {
    display:flex;
    gap:20px;
  
    width:fit-content;
    list-style-type: none;
    margin-left:auto;
    margin-right:25%;

  }

  .nav-items li:nth-of-type(){

  }
  .nav-items a {
      text-decoration: none;
      color:var(--white);
     
  }
  li > span {

    margin-left:6px;
    color:var(--white);
  }
  .main-header-title {

    position: absolute;

   
    
  }
.container {
    max-width:1100px;
    margin:auto;
}
  .top-content {

    display:flex;
  justify-content: space-evenly;
    
    align-self: center;
    padding:50px;
  }


  /* Tags */

  .nav-tag {
    box-shadow: none;
    border-radius: 18px;
    border:  1px solid #e9e9e9;
      background-color:white;
      padding-top:10px;
      font-size: 1em;
      padding: 0 12px;
      color:var(--lightGray);
      font-weight: 500;
      line-height: 32px;
  }
  .nav-tag.tag-active {
      background-color:var(--lightBlue);
      color:var(--white);
      font-weight: 300;
  }


  .grid {
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      gap:20px;
  }

  .top-content {
      grid-column: 1 / 7    ;
   
  }
  .top-content .tag:hover {
 
    transition: 0.8s all ease-in-out;
    font-weight: bold;
  }
  .cards {
      grid-column: 1 / 4;
      gap:20px;
      display:grid;
      grid-template-columns: 1fr 1fr;
  }

.aside-bar {
  
  display:grid;
    grid-column: 4 / 6;
}


.card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.card-image-container {

    width:100%;
   
}

.card-image-container img {
    object-fit:cover;
 
    border-radius:5px;
    width:100%;

}

.card-title {
    font-size:larger;
    font-weight: bold;
}
.card-body {
    padding:20px;
}
.card-title {
    font-size:2rem;
 
}

.card-footer {

display:grid;

grid-template-columns: repeat(5, 1fr);
position: relative;

}
.card-author a {
    text-transform: uppercase;
  
}
.card-footer .author-link {
   
}
.card-author {
 
    grid-column: 1 / 4;
    flex-grow:1;
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;
    border-top: 1px solid #e9e9e9;
   
}

.card-author a {
    color:var(--lightGray);
}
.comments {


    position: absolute;
    display:flex;
    justify-content: center;
    gap:10px;
    align-items: center;
   padding:14px;
 
   top:-10px;
   left:-40px;
    color:var(--darkGray);
    border-radius: 15px;;
    background-color: var(--white);

    grid-column: 5 / 6;
  
}
.comments a {

    
}
.post-content-right {
  
    margin-top:30px;
    display:flex;
    flex-direction: column;
    gap:5px;
   
   
}
.latest-posts {
    display:flex;
    flex-direction: column;
    gap:20px;

}
.post {
    display:flex;
 
   
    align-items: center;
    gap:10px;
}
.post-title {
    padding-right:30px;
}
.post-icon {
    border-radius: 50%;
    width:75px;
    height:75px;
    overflow: hidden;
}


.post-icon img {

    width:100%;
    height:100%;
    object-fit: cover;
}
.post-author {
    text-transform: uppercase;
    color:var(--lightGray);
    font-weight: 100;
}

.advertisment {

    display:flex;
  
    background-color: var(--white);
    justify-content: center;
    align-items: center;
    color:var(--lightGray);
    width:100%;
    height:300px;
    margin: 0 0 1.5em 0;
}


.main-footer {
    margin-top:4em;
    background-color: var(--darkGray);
   
    padding:50px;
  
}
.footer-recent-posts {
   
    display:flex;
    flex-direction: column;
    gap:20px;
    padding-left:15px;
    padding-right:15px;

}

.footer-recent-posts .post-author {
    color:var(--white);
}
.footer-recent-posts .post
{
   
    border-top: 0.1rem solid var(--lightGray);
    
}

.main-footer .container {
    color:var(--white);
    display:grid;
    gap:20px;
    grid-template-columns: repeat(3, 1fr);
}
.footer-ocean-of-posts {
 
    margin-top:20px;
}
.footer-ocean-of-posts p {
font-size:0.8rem;

}
.search-bar {
 display:flex;
  
 height:50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.icon-magnifier {
  
    
    background-color:var(--white);

 
    padding:15px;
}
.search {
 
   
  
    border:none;
    padding: 16px 70px 16px 26px;
}

.popular-tag 
{
    margin-top:10px;

    background-color: #f0f0f0;

    border-radius: 3px;
    color:var(--darkGray);

    padding:6px 10px 6px 10px;
    font-size:medium;
    line-height: 32px;
    width:fit-content;

}

.popular-tag.dark {
    background-color:var(--darkGray);
    color:var(--white);
    border:none;
    text-transform: uppercase;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-weight: bold;
}